@model ViewAltaPresupuesto

<form asp-controller="Presupuesto" asp-action="EditarPresupuestoPost">
    <input type="hidden" asp-for="ClienteId" />
    <div class="form-group">
        <label type="text" asp-for="@Model.ClienteId">Nombre del cliente</label>
        <select name="ClienteId" class="form-control" required>
                        <option value="">Seleccione un cliente para asignar presupuesto</option>
                        @foreach (var cliente in Model.clientes)
                        {
                            <option value="@cliente.ClienteId">@cliente.Nombre</option>
                        }
                    </select>
                    <span asp-validation-for="ClienteId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Fecha">Fecha de creacion</label>
        <input type="date" asp-for="@Model.Fecha" class="form-control" />
    </div>
    <button type="submit">Enviar</button>
</form>